.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 60%;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.overlayVisible {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .overlay {
    display: none;
  }
}
