.logoSection {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  position: relative;
  z-index: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  height: 100%;
  width: 320px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1;
  overflow-y: auto;
}

.sidebarOpen {
  left: 0;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
